
.App {
  text-align: center;
  background-color: rgb(40, 40, 49);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.image{
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes float {
  0% {
    transform: translateY(0); 
   }
  50% {
    transform: translateY(-50px); 

  }
  100% {
    transform: translateY(0); 
    
  }
}

@layer keyframes {
  @keyframes slide-in {
    0% {
      transform: translateX(-93%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
.animate{
  animation: slide-in ease-in 3s infinite ;
}
